;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[babashka/fs "0.5.33"]
  [com.github.pkpkpk/cljs-node-io "2.0.339"]
  [environ "1.2.0"]
  [funcool/promesa "11.0.678"]]

 :builds
 {:main {:build-hooks [(build/build)]
         :exports {:default main/main}
         :output-to "rplugin/node/main.js"
         :target :node-library}
; https://github.com/thheller/shadow-cljs/issues/902#:~:text=This%20fixed%20the,host%20false%7D
  :background {:devtools {:use-document-host false}
               :modules {:background {:init-fn background/init}}
               :output-dir "public/js"
               :target :esm}}}
